.alert {
    display: inline;
    padding: 0.3rem;
}

.content {
    &__alert {
        text-align: center;
    }

    &__border {
        border: solid 0.2rem lightblue;
        padding: 6%;
        margin: 4%;
    }
}

.form {
    text-align: center;

    &__p {
        margin: 1%;
    }

    &__input {
        margin: 2%;
    }

    &__btn {
        margin: 5%;
    }

    &__submit {
        text-align: center;
    }
}

.link {
    text-align: center;
}
