.contentBorder{
    display: flex;
    border: solid 2px lightblue;
    margin: 150px;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin: 10;
}

.label{
    margin: 10;
}

.form{
    margin: 0;
}
