.logout {
  display: inline-block;
  margin-left: auto;
  font-size: medium;
}

.pagenateButton {
  display: inline-block;
  margin: auto;
  padding: auto;
}

.inputForm {
  margin: 0;
}

.caption {
  font-size: large;
}

.content {
  margin: 40px;
}

.buttonLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}

.th_centering {
  text-align: center;
}

td {
  text-align: center;
}

td > a {
  font-size: x-large;
}

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-clear-button {
  -webkit-appearance: none;
}

